/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
	font-family: "Proxima Nova";
	src: url(fonts/ProximaNova-Regular.otf);
}

body {
	background: #333841;
	font-family: "Proxima Nova", Helvetica;
	font-size: 21px;
	line-height: 28px;
	color:white;
}

header {
	width: 1000px;
	margin: auto;
	display: none;
	margin-top: -30px;
	position: relative;
}

header img {
	height: 466px;
	margin-left: -140px;
	position: relative;
	z-index: -1;
}

nav {
	position: absolute;
	top: 150px;
	right: 0;
}

nav a {
	display: inline-block;
	margin-top: 10px;
	width: 140px;
	background:#4E555D;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 15px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;

	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

a {
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
	opacity: 0.6;
}

main {
	width: 1000px;
	margin: auto;
	margin-top: -115px;
	display: none;
	position: relative;
	z-index: 10;
}

main p {
	display: inline-block;
}

main p:first-child {
	width: 620px;
}

main p:nth-child(2) {
	width: 295px;
	float: right;
}

a {
	color: white;
}

footer {
	margin-top: 50px;
}

iframe {
	width: 49%;
}

iframe#mixcloud {
	margin-right: 1%;
}